<html>
	<head>
		<title>Game DB Sandbox</title>
	</head>
	<body>
		<h1>Game Function Testing Grounds</h1>

		<p>{{ dump }}</p>

		<form action="/gameDB/" method="POST">
		    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		    Base Game: <input type="text" name="bg">
		    <input type="hidden" name="initGI">
            <br><input type="submit" value="initGameInstance()">
        </form>

    <div>
        {% if games %}
		<b>Game</b>
		<table border=1 cellpadding=5>
		    <tr>
		        <td>ID</td>
		        <td>Name</td>
		        <td>Description</td>
		        <td>Min Players</td>
		        <td>Max Players</td>
		    </tr>
		    {% for game in games %}
		    <tr>
		        <td>{{ game.id }}</td>
		        <td>{{ game.name }}</td>
		        <td>{{ game.description }}</td>
		        <td>{{ game.min_players}}</td>
		        <td>{{ game.max_players}}</td>
    		</tr>
    		{% endfor %}
		</table>
		{% endif %}

		{% if cards %}
		<p><b>Card</b>
		<table border=1 cellpadding=5>
		    <tr>
		        <td>ID</td>
		        <td>Name</td>
		        <td>Description</td>
		        <td>Card Type</td>
		        <td>Card Front</td>
		        <td>Card Back</td>
		    </tr>
		    {% for c in cards %}
		        <tr>
		            <td>{{ c.id }}</td>
		            <td>{{ c.name }}</td>
		            <td>{{ c.description }}</td>
		            <td>{{ c.card_type }}</td>
		            <td>{{ c.img_front }}</td>
		            <td>{{ c.img_back }}</td>
		        </tr>
    		{% endfor %}
    	</table>
		{% endif %}

		{% if gcard %}
		<p><b>CardsInGame</b>
		<table border=1 cellpadding=5>
		    <tr>
		        <td>Card ID</td>
		        <td>Game ID</td>
		        <td>Quantity</td>
		        <td>Card Value</td>
		    </tr>
		    {% for c in gcard %}
		        <tr>
		            <td>{{ c.card_id }}</td>
		            <td>{{ c.game_id }}</td>
		            <td>{{ c.quantity }}</td>
		            <td>{{ c.card_value }}</td>
		        </tr>
    		{% endfor %}
    	</table>
		{% endif %}

        {% if ginstance %}
		<p><b>Game Instance</b>
		<table border=1 cellpadding=5>
		    <tr>
		        <td>ID</td>
		        <td>Base Game</td>
		        <td>Num Players</td>
		        <td>Turns Played</td>
		        <td>Current Turn Order</td>
		        <td>Status</td>
		    </tr>
    		{% for igame in ginstance %}
    		<tr>
    		    <td>{{ igame.id }}</td>
    		    <td>{{ igame.base_game }}</td>
    		    <td>{{ igame.num_players }}</td>
    		    <td>{{ igame.turns_played }}</td>
    		    <td>{{ igame.current_turn_order }}</td>
    		    <td>{{ igame.status }}</td>
    		    <td>
    		        <form action="/gameDB/" method="POST">
        		        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        		        <input type="hidden" name="fetchGI">
        		        <input type="hidden" name="gid" value="{{ igame.id }}">
        		        <input type="submit" value="fetchGameInstance()">
    		        </form>

    		        <form action="/gameDB/" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        		        <input type="hidden" name="deleteGI">
        		        <input type="hidden" name="gid" value="{{ igame.id }}">
        		        <input type="submit" value="deleteGameInstance()">
    		        </form>
    		    </td>
    		    <td>
    		        <form action="/gameDB/" method="POST">
    		            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        		        <input type="hidden" name="endTurn">
        		        <input type="hidden" name="gid" value="{{ igame.id }}">
        		        <input type="submit" value="endTurn()">
        		    </form>
        		</td>
    		    <td>
    		        <form action="/gameDB/" method="POST">
    		            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        		        <input type="hidden" name="acceptAll">
        		        <input type="hidden" name="gid" value="{{ igame.id }}">
        		        <input type="submit" value="accept all invites">
        		    </form>
    		        <form action="/gameDB/" method="POST">
    		            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        		        <input type="hidden" name="randomizePlayers">
        		        <input type="hidden" name="gid" value="{{ igame.id }}">
        		        <input type="submit" value="randomizePlayers()">
        		    </form>
        		</td>
        		<td>
    		        <form action="/gameDB/" method="POST">
    		            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        		        <input type="hidden" name="currentPlayerID">
        		        <input type="hidden" name="gid" value="{{ igame.id }}">
        		        <input type="submit" value="getCurrentPlayerID()">
        		    </form>
        		</td>
    		</tr>
    		{% endfor %}
		</table>
		{% endif %}
    </div>

		{% if pgame %}
		<p><b>PlayersInGame</b>
		<table border=1 cellpadding=5>
		    <tr>
		        <td>Player ID</td>
		        <td>Game ID</td>
		        <td>Turn Order</td>
		        <td>Player Status</td>
		        <td>Invite Status</td>
		    </tr>
		    {% for p in pgame %}
		        <tr>
		            <td>{{ p.user_id }}</td>
		            <td>{{ p.game_instance }}</td>
		            <td>{{ p.turn_order }}</td>
		            <td>{{ p.player_status }}</td>
		            <td>{{ p.invite_status }}</td>
        		    <td>
		                <form action="/gameDB/" method="POST">
		                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    		                <input type="number" name="turn">
            		        <input type="hidden" name="setPlayerTurn">
            		        <input type="hidden" name="uid" value="{{ p.user_id }}">
            		        <input type="hidden" name="gid" value="{{ p.game_instance }}">
            		        <br><input type="submit" value="setPlayerTurn()">
        		        </form>
        		    </td>
        		    <td>
		                <form action="/gameDB/" method="POST">
		                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            		        <input type="hidden" name="acceptInvite">
            		        <input type="hidden" name="uid" value="{{ p.user_id }}">
            		        <input type="hidden" name="gid" value="{{ p.game_instance }}">
            		        <br><input type="submit" value="acceptInvite()">
        		        </form>
        		    </td>
        		    <td>
		                <form action="/gameDB/" method="POST">
		                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            		        <input type="hidden" name="declineInvite">
            		        <input type="hidden" name="uid" value="{{ p.user_id }}">
            		        <input type="hidden" name="gid" value="{{ p.game_instance }}">
            		        <br><input type="submit" value="declineInvite()">
        		        </form>
        		    </td>
		        </tr>
    		{% endfor %}
    	</table>
		{% endif %}

        {% if piles %}
		<p><b>Pile</b>
		<table border=1 cellpadding=5>
		    <tr>
		        <td>ID</td>
		        <td>Game Instance</td>
		        <td>Pile Type</td>
		        <td>Pile Owner</td>
		        <td>Pile Status</d>
		    </tr>
		    {% for c in piles %}
		        <tr>
		            <td>{{ c.id }}</td>
		            <td>{{ c.game_instance }}</td>
		            <td>{{ c.pile_type }}</td>
		            <td>{{ c.pile_owner }}</td>
		            <td>{{ c.pile_status }}</td>
		            <td>
		                <form action="/gameDB/" method="POST">
		                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            		        <input type="hidden" name="shufflePile" value="TRUE">
            		        <input type="hidden" name="pid" value="{{ c.id }}">
            		        <input type="submit" value="shufflePile()">
        		        </form>
        		    </td>
        		    <td>
        		        <form action="/gameDB/" method="POST">
        		            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            		        <input type="hidden" name="drawTopCard" value="TRUE">
            		        <input type="hidden" name="pid" value="{{ c.id }}">
            		        <input type="submit" value="drawTopCard()">
        		        </form>
        		    </td>
		        </tr>
    		{% endfor %}
    	</table>
		{% endif %}


		{% if icard %}
		<p><b>CardInstance</b>
		<table border=1 cellpadding=5>
		    <tr>
		        <td>ID</td>
		        <td>Base Card</td>
		        <td>Game Instance</td>
		        <td>In Pile</td>
		        <td>Pile Order</td>
		        <td>Card Value</td>
		        <td>Card Status</td>
		    </tr>
		    {% for c in icard %}
		        <tr>
		            <td>{{ c.id }}</td>
		            <td>{{ c.base_card }}</td>
		            <td>{{ c.game_instance }}</td>
		            <td>{{ c.in_pile }}</td>
		            <td>{{ c.pile_order }}</td>
		            <td>{{ c.card_value }}</td>
		            <td>{{ c.card_status }}</td>
		            <td>
		                <form action="/gameDB/" method="POST">
		                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            		        <input type="hidden" name="moveCard">
            		        <input type="hidden" name="cid" value="{{ c.id }}">
            		        <input type="submit" value="moveCard()">
        		        </form>
        		    </td>
        		    <td>
        		        <form action="/gameDB/" method="POST">
        		            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            		        Val: <input type="number" name="value">
            		        Stat: <input type="text" name="status">
            		        <input type="hidden" name="updateCard">
            		        <input type="hidden" name="cid" value="{{ c.id }}">
            		        <input type="submit" value="updateCard()">
        		        </form>
        		    </td>
		        </tr>
    		{% endfor %}
    	</table>
		{% endif %}


    {% if log %}
    <p><b>GameLog</b>
    <table border=1 cellpadding=5>
		    <tr>
		        <td>ID</td>
		        <td>Game Instance</td>
		        <td>Message</td>
		        <td>Timestamp</td>
		    </tr>
		    {% for c in log %}
		        <tr>
		            <td>{{ c.id }}</td>
		            <td>{{ c.game_instance }}</td>
		            <td>{{ c.message }}</td>
		            <td>{{ c.timestamp }}</td>
		        </tr>
    		{% endfor %}
    	</table>
		{% endif %}

	</body>
</html>