<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ passedUserName }}'s Invitation</title> 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button" class="active"><a href="/">Home</a>
                    </li>
                    <li role="button"><a href="profile">Profile</a>
                    </li>                   
                    <li role="button"><a href="login">My Page</a>
                    </li>
                    <li role="button"><a href="logout">Log Out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">{{ passedUserName }}'s Invitation</h3>
        </div>
 
        <div class="row marketing">
            <form action="" method="get" id="acceptgame">
                <!-- Show players that are invited/started game-->
                <h2> Joining the Game?</h2> <p><select name="joinGame" id="gameToJoin">  
                <option value="00">Select</option>                
                <option value="accept">Accept</option>  
                <option value="decline">Decline</option>                                         
                </select> </p>                
                <input type="submit" value="Submit">  <!-- Update Game state and send back to login page -->
            </form>
            <h2 role="button"><a href="login">Back </a></h2>
        </div>
 
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>
</body>
 
</html>
