<!DOCTYPE html>
<html lang="en">

<head>
    <title>Serpens Game Server</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    {% block head_tag %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% if current_user %}
                    <li role="button"><a href="{{ url_for('userDB.home') }}">My Page</a>
                    <li role="button"><a href="{{ url_for('logout') }}">Log Out</a>
                    {% endif %}

                    {% if not current_user %}
                    <li class="nav-link"><a href="{{ url_for('signIn') }}">Log In</a></li>
                    <li class="nav-link"><a href="{{ url_for('userDB.newUser') }}">New User</a></li>
                    {% endif %}

                    <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>

            <h3 class="text-muted">{% block header %}{% endblock %}</h3>

        </div>
        <div class="row marketing">
            {% block content %}{% endblock %}
        </div>
        <footer class="footer">
            <p>© 2017 Team Serpens</p>
        </footer>

    </div>

{% block script %}
{% endblock %}
</body>

</html>