{% extends "base.html" %}
{% block content %}
    <h2>About The Game Server</h2>
    <p>The Serpens team has completed a playable card game, similar to Uno.</p>
    <p>In order to play you will need to have a user account on the server.</p>
    <p>Once you have logged in you can start a game with other users, or play against our AIs.</p>
    <p>The AIs are Computer_1, Computer_2 and Computer_3, please be nice to the AIs we don't want to start the next Skynet.</p>
    <h2 role="button"><a href="rules">Game Rules </a></h2>
{% endblock %}