<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Serpens Game Server</title> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                        <li class="nav-link"><a href="signin">Log In</a></li>
                        <li class="nav-link"><a href="newuser">New User</a></li>
                        <li class="nav-link active"><a href="/">Home</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Welcome to Serpens Game Server</h3>
        </div>
        <div class="row marketing">
            <h2>About The Game Server</h2>
            <p>This site is currently undergoing testing.</p>
            <p>The Serpens team is working a card game, the game is similar Uno.</p>
            <p>Right now you may create an account, and login again once you have created an account.</p>              
            <p>You can play a game, but it might be a little buggy at the moment.</p>

            <h2 role="button"><a href="rules">Game Rules </a></h2>        
        </div>
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>

</body>
 
</html>