<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ passedUserName }}'s Games</title> 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button" class="active"><a href="/">Home</a>
                    </li>
                    <li role="button"><a href="profile">Profile</a>
                    </li>
                    <li role="button"><a href="logout">Log Out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Welcome {{ passedUserName }}</h3>
        </div>
 
        <div class="row marketing">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4>Continue Game</h4>
                {% for games in gameids %}
                    {% for all_games in games %}
                        {% if  all_games.invite_status == 'Accepted' or all_games.invite_status == 'Creator' %}
                            <a href ="playturn/{{ games.game_instance }}"> {{ games.game_instance }} </a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
 
                <h4>Invitations To Games</h4>
                {% for invites in gameids %}
                    {% if invites.invite_status == 'Invited' %}
                        <a href ="acceptgame/{{ invites.game_instance }}"> {{ invites.game_instance }} </a>
                    {% endif %}
                {% endfor %}
 
            </div>
 
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h2 role="button"><a  href="newgame"> New Game</a></h2>
 
                <h2 role="button"><a href="statistics">Statistics </a></h2>
            </div>
        </div>
 
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>
</body>
 
</html>