<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ passedUserName }}'s New Game</title> 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button" class="active"><a href="/">Home</a>
                    </li>
                    <li role="button"><a href="profile">Profile</a>
                    </li>                   
                    <li role="button"><a href="login">My Page</a>
                    </li>
                    <li role="button"><a href="logout">Log Out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Welcome {{ passedUserName }}</h3>
        </div>
 
        <div class="row marketing">
            <form action="initNewGame" method="post" id="newgameform">
                {{ newGameForm.csrf_token }}             
                <h2> Select Game:</h2> <p><select name="game">  
                <option value="00">Select</option>
                <!-- THIS SHOULD BE A FOR LOOP IF WE ADD MORE GAMES -->                   
                <option value="uno">Uno</option>                            
                </select> </p>
                <h2> Select Number of Players:</h2> 
                <p><option value="00">Select</option>
                    {{ newGameForm.numberOfPlayers }}
                </p>
                <!-- for the number of players select players -->              
                <h2> Player 2:</h2> <p>{{ newGameForm.player2 }}</p>
                <h2> Player 3:</h2> <p>{{ newGameForm.player3 }}</p>
                <h2> Player 4:</h2> <p>{{ newGameForm.player4 }}</p>                
                <input type="submit" value="Submit">  <!-- on successful submit open login.html -->
            </form>
            <h2 role="button"><a href="login">Back </a></h2>
        </div>
 
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>
</body>
 
</html>

<script>

    /*function numOfPlayers(){

        players = document.getElementById("qtyDropDown");                

        if(players.value == "03") {
            three = document.getElementById("P3")
            three.style.visibility = "visible";
        }

        if(players.value == "04") {
            three = document.getElementById("P3")
            three.style.visibility = "visible";
            four = document.getElementById("P4")
            four.style.visibility = "visible";
        }
    }*/

</script>