<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ passedUserName }}'s New Game</title> 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button" class="active"><a href="/">Home</a>
                    </li>
                    <li role="button"><a href="profile">Profile</a>
                    </li>                   
                    <li role="button"><a href="login">My Page</a>
                    </li>
                    <li role="button"><a href="logout">Log Out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Welcome {{ passedUserName }}</h3>
        </div>
 
        <div class="row marketing">
            <form action="initNewGame" method="get" id="newgameform">
                
                <h2> Select Game:</h2> <p><select name="game">  
                <option value="00">Select</option>
                <!-- for each kind of game this should be a loop-->                   
                <option value="uno">Uno</option>                            
                </select> </p>
                <h2> Select Number of Players:</h2> <p><select name="numOfPlayer" onchange="numOfPlayers()" id="qtyDropDown"> 
                <option value="00">Select</option>
                <!-- for each  game choose the correct possible players -->   
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>                                                                 
                </select> </p>
                <!-- for the number of players select players -->              
                <h2> Player 2:</h2> <p><select name="player2">
                <option value="00">Select</option>
                {% for user in users %}
                    <option value=" {{ user.id }} "> {{ user.username }} </option>
                {% endfor %}
                <!-- pick from the available list -->  
                <h2> Player 3:</h2> <p><select name="player3" style="visibility:hidden;" id="P3"/>
                <option value="00">Select</option>
                {% for user in users %}
                    <option value=" {{ user.id }} "> {{ user.username }} </option>
                {% endfor %} 
                <h2> Player 4:</h2> <p><select name="player4" style="visibility:hidden;" id="P4"/>
                <option value="00">Select</option>
                {% for user in users %}
                    <option value=" {{ user.id }} "> {{ user.username }} </option>
                {% endfor %}                                                               
                </select> </p>                
                <input type="submit" value="Submit">  <!-- on successful submit open login.html -->
            </form>
            <h2 role="button"><a href="login">Back </a></h2>
        </div>
 
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>
</body>
 
</html>

<script>

    function numOfPlayers(){

        players = document.getElementById("qtyDropDown");                

        if(players.value == "03") {
            three = document.getElementById("P3")
            three.style.visibility = "visible";
        }

        if(players.value == "04") {
            three = document.getElementById("P3")
            three.style.visibility = "visible";
            four = document.getElementById("P4")
            four.style.visibility = "visible";
        }
    }

</script>