<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Game Server New User</title> 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button" class="active"><a href="/">Home</a>
                    </li>
                    <li role="button"><a href="signedin">Log In</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Create a User Account</h3>
        </div>
 
        <div class="row marketing">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% for message in form.username.errors %}
                <div>Username: {{ message }}</div>
            {% endfor %}
      
            {% for message in form.password.errors %}
                 <div>Password: {{ message }}</div>
            {% endfor %}
            {% for message in form.password2.errors %}
                 <div>Password2: {{ message }}</div>
              {% endfor %}
            <form action="newuser" method="post" id="loginForm">
                {{ form.csrf_token }}
                <h2> New User Name: {{ form.username }} </h2>
                <h2> Create Password: {{ form.password }}</h2>
                <h2> Check Password: {{ form.password2 }}</h2><br>
                <!-- Check against the exisiting user database that user name is unique and password fits requirements -->
                <input type="submit" value="Submit">  <!-- on successful submit open login.html -->
            </form>
        </div>
 
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>
</body>
 
</html>