<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Game Server New User</title> 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button" class="active"><a href="/">Home</a>
                    </li>
                    <li role="button"><a href="signedin">Log In</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Create a User Account</h3>
        </div>
 
        <div class="row marketing">
            <form action="" method="post" id="loginForm">
                <h2> New User Name: <input type="text" name="username"> </h2>
                <h2> Create Password: <input type="text" name="password" minLength="5"></h2>
                <h2> Check Password: <input type="text" name="password" minLength="5"></h2><br>
                <!-- Check against the exisiting user database that user name is unique and password fits requirements -->
                <input type="submit" value="Submit">  <!-- on successful submit open login.html -->
            </form>
        </div>
 
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>
</body>
 
</html>