<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ existingUser.username }}'s Game</title> 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <meta http-equiv="refresh" content="15" >
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button"><a href="login">My Page</a>
                    </li> 
                    <li role="button"><a href="../profile">Profile</a>
                    </li>                  
                    <li role="button"><a href="../logout">Log Out</a>
                    </li>
                    <li role="button" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">{{ existingUser.username }}'s Current Game</h3>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p>
            {% for message in messages %}
              <h1>{{ message }}</h1><br>
            {% endfor %}
            </p>
          {% endif %}
        {% endwith %}
        <div class="row marketing">
            {% if players %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-2"><b>Players</b></div>
                </div>
                <div class="row">
                    {% for p in players %}
                    <div class="col-xs-2 col-sm-2">
                        Username: {{ p[0].User.username }}
                        <br>ID: {{ p[0].user_id }}
                        <br>Turn Order: {{ p[0].turn_order }}
                        <br>Cards in Hand: {{ p[1] }} cards
                        {% if p[1] == 0 %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        {% if active %}
            {% for u in usersPlaying %}
                {% if active == u.id%}
                <h3><b>Active Player: {{ u.username }}</b></h3>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if active == existingUser.id %}
            {% if deck %}
            <p><div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <b>Deck</b>
                        <br>Count: {{ deck_count }}
                        <br><img src="{{ url_for('static', filename='UnoCardImages/CardBack.gif') }}">
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <b>Discard</b>
                        <br>Count: {{ discard_count }}
                        <br><img src="{{ url_for('static', filename=discard.Card.img_front) }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <form action="{{ game_id }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="drawCard">
                        <input type="submit" value="Draw Card">

                        </form>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        {% if discard %}
                        {{ discard.Card.name }}
                        {% if discard.Card.card_type == 'Wild' %}
                        <br>Color: {{ discard.card_status }}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div></p>     
            {% endif %}
                <h2> Select Card:</h2>
                    {% if hand %}
                    <p><div class="container">
                    <div class="row">
                    {% for c in hand %}
                        <div class="col-xs-2 col-sm-2">
                        {{ c.Card.name }}
                        <br><img src="{{ url_for('static', filename=c.Card.img_front) }}">
                        <form action="{{ game_id }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="cid" value="{{ c.id }}">
                            <input type="hidden" name="playCard">
                            {% if c.Card.card_type == 'Wild' %}
                            <select name="wildColor">
                                <option value="Select">Select</option>                              
                                <option value="Red">Red</option>
                                <option value"Blue">Blue</option>
                                <option value="Green">Green</option>
                                <option value"Yellow">Yellow</option>
                            </select>
                            {% endif %}
                                <input type="submit" value="Play Card">
                        </form>
                        </div>
                        {% endfor %}
                    </div>
                    </div></p>
                    {% endif %}
        {% else %}
            <h2> Waiting on other players...</h2>
            {% if deck %}
            <p><div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <b>Deck</b>
                        <br>Count: {{ deck_count }}
                        <br><img src="{{ url_for('static', filename='UnoCardImages/CardBack.gif') }}">
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <b>Discard</b>
                        <br>Count: {{ discard_count }}
                        <br><img src="{{ url_for('static', filename=discard.Card.img_front) }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        {% if discard %}
                        {{ discard.Card.name }}
                        {% if discard.Card.card_type == 'Wild' %}
                        <br>Color: {{ discard.card_status }}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div></p>     
            {% endif %}
                    {% if hand %}
                    <p><div class="container">
                    <div class="row marketing">
                    {% for c in hand %}
                        <div class="col-xs-2 col-sm-2">
                        {{ c.Card.name }}
                        <br><img src="{{ url_for('static', filename=c.Card.img_front) }}">
                            {% if c.Card.card_type == 'Wild' %}
                            <select name="wildColor">
                                <option value="Select">Select</option>                              
                                <option value="Red">Red</option>
                                <option value"Blue">Blue</option>
                                <option value="Green">Green</option>
                                <option value"Yellow">Yellow</option>
                            </select>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    </div></p>
                    {% endif %}
        {% endif %}  
            <h2 role="button" align="right"><a href="login">Back to Your Page </a></h2>
        </div>
        {% if existingUser.role == 'Admin' %}
        <p>{{ dump }}</p>

        <p>
        {% if logs %}
        {% for log in logs %}
            {{ log.timestamp }} | {{ log.message }}<br>
        {% endfor %}
        {% endif %}
        </p>
        {% endif %}
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>
</body>
</html>