<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ existingUser.username }}'s Game</title> 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button"><a href="profile">Profile</a>
                    </li>                   
                    <li role="button"><a href="logout">Log Out</a>
                    </li>
                    <li role="button" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">{{ existingUser.username }}'s Current Game</h3>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p>
            {% for message in messages %}
              {{ message }}<br>
            {% endfor %}
            </p>
          {% endif %}
        {% endwith %}
        <div class="row marketing">
            {% if players %}
            <table border=1 cellpadding=5>
                <tr>
                    <td><b>Players</b></td>
                </tr>
                <tr>
                    {% for p in players %}
                    <td>
                        {{ p[0].User.username }}
                        <br>ID: {{ p[0].user_id }}
                        <br>Turn: {{ p[0].turn_order }}
                        <br>Hand: {{ p[1] }} cards
                        {% if p[1] == 0 %}
                        <form action="/winner" method="POST">
                        </form>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            </table>
            {% endif %}

        {% if active %}
        <p><b>Active Player: {{ active }}</b></p>
        {% endif %}

        {% if active == existingUser.id %}
            {% if deck %}
            <p><table border=1 cellpadding=5>
                <tr>
                    <td>
                        <b>Deck</b>
                        <br>Count: {{ deck_count }}
                        <br><img src="{{ url_for('static', filename='UnoCardImages/CardBack.gif') }}">
                    </td>
                    <td>
                        <b>Discard</b>
                        <br>Count: {{ discard_count }}
                        <br><img src="{{ url_for('static', filename=discard.Card.img_front) }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="{{ game_id }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="drawCard">
                            <input type="submit" value="Draw Card">
                        </form>
                    </td>
                    <td>
                        {% if discard %}
                        {{ discard.Card.name }}
                        {% if discard.Card.card_type == 'Wild' %}
                        <br>Color: {{ discard.card_status }}
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </table></p>     
            {% endif %}
                <h2> Select Card:</h2> <p><select name="card" id="playcard">
                    {% if hand %}
                    <p><table border=1 cellpadding=5>
                    <tr>
                    {% for c in hand %}
                        <td>
                        {{ c.Card.name }}
                        <br><img src="{{ url_for('static', filename=c.Card.img_front) }}">
                        <form action="{{ game_id }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="cid" value="{{ c.id }}">
                            <input type="hidden" name="playCard">
                            {% if c.Card.card_type == 'Wild' %}
                            <select name="wildColor">
                                <option value="Red">Red</option>
                                <option value"Blue">Blue</option>
                                <option value="Green">Green</option>
                                <option value"Yellow">Yellow</option>
                            </select>
                            {% endif %}
                                <input type="submit" value="Play Card">
                        </form>
                        </td>
                        {% endfor %}
                    </tr>
                    </table></p>
                    {% endif %}
        {% else %}
            <h2> Waiting on other players...</h2> 
        {% endif %}  
            <h2 role="button"><a href="login">Back To Login Page </a></h2>
        </div>
 
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>
</body>
 
</html>