<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ passedUserName }}'s Profile</title> 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button" class="active"><a href="/">Home</a>
                    </li>
                    <li role="button"><a href="login">My Page</a>
                    </li>
                    <li role="button"><a href="logout">Log Out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Update Profile</h3>
        </div>
 
        <div class="row marketing">
            <form action="" method="patch" id="loginForm">
                <h2> Update Password: <input type="text" name="password" minLength="5"></h2><br>
                <h2> Check Password: <input type="text" name="password" minLength="5"></h2><br>
                <!-- Check \password fits requirements -->
                <input type="submit" value="Submit">  <!-- on successful submit open login.html -->
            </form>
            <h2 role="button"><a href="login">Back </a></h2>
        </div>
 
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion and Rebecca Thompson.</p>
        </footer>
 
    </div>
</body>
 
</html>