{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% for message in form.username.errors %}
        <div>Username: {{ message }}</div>
    {% endfor %}

    {% for message in form.password.errors %}
        <div>Password: {{ message }}</div>
    {% endfor %}

    <form action="signin" method="post" id="loginForm">
    {{ form.csrf_token }}
        <h2>{{ form.username.label }} {{ form.username }}</h2>
        <h2>{{ form.password.label }} {{ form.password }}</h2><br>
        <!-- Check against the exisiting user database -->
        <input type="submit" value="Submit">  <!-- on successful submit open login.html-->
    </form>
{% endblock %}