<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ userName }}'s Statisctics</title> 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="style.css">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="button" class="active"><a href="index.html">Home</a>
                    </li>
                    <li role="button"><a href="profile.html">Profile</a>
                    </li>
                    <li role="button"><a href="login.html">My Page</a>
                    </li>
                    <li role="button"><a href="logout.html">Log Out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">{{ userName }}'s Statisctics</h3>
        </div>
 
        <div class="row marketing">
 
            <div class="col-lg-6">
                <!-- Get the information from the user's information -->        
                <h4 > Games Played: </h4>  
                <h4 > Won Played: </h4>
                <!-- do the math -->                                
                <h4 > Winning Percent: </h4>

                <h2 role="button"><a href="login.html">Back </a></h2>
            </div>
        </div>
 
        <footer class="footer">
            <p>Assignment for CS467 by Leanne Vermillion, Rebecca Thompson and James Palmer.</p>
        </footer>
 
    </div>
</body>
 
</html>