{% extends "base.html" %}
{% block content %}
    <div class="col-lg-6">
        <!-- Get the information from the user's information -->
        <h4 > Games Played: {{ existingUser.games_played }}</h4>
        <h4 > Games Won: {{ existingUser.wins }}</h4>
        <h4 > Games Lost: {{ existingUser.losses }}</h4>
        <h4 > Games Tied: {{ existingUser.draws }}</h4>
        <!-- if the number of games played is larger than 0 do the math -->
        <h4 > Winning Percent: {{ userRecord }} %</h4>
    </div>

    <h2 role="button"><a href="login" >Back to Your Page </a></h2>
{% endblock %}