/*CSS Comment*/

h1 {
	text-align: center;

}

h2 {
	color: DarkSlateGray;
	text-align: left;
	font-size: 22px;

}
h4 {
	color: DarkSlateGray;
	text-align: left;

}

body {
    background-color: Gainsboro;
}

p {
	font-size: 12px;
}