{% extends "base.html" %}

{% block header %}
    Welcome, {{ current_user }}
{% endblock %}

{% block content %}
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2>Your Games</h2>

        {% if player_move %}
        <h4>Waiting on your move</h4>
        {% for game in player_move %}
        <b><a href="{{ url_for('playturn', game_id=game.GameInstance.id) }}" onclick="waiting()">
            {{ game.GameInstance.Game.name }} #{{ game.GameInstance.id }}</a></b>
            <br/>
        {% endfor %}
        {% endif %}

        {% if other_move %}
        <h4>Waiting on other players</h4>
        {% for game in other_move %}
        <b><a href="{{ url_for('playturn', game_id=game.GameInstance.id) }}" onclick="waiting()">
            {{ game.GameInstance.Game.name }} #{{ game.GameInstance.id }}</a></b>
            <br>
        {% endfor %}
        {% endif %}

        {% if waiting_join %}
        <h4>Waiting for players to join</h4>
        {% for game in waiting_join %}
        <b>{{ game.GameInstance.Game.name }} #{{ game.GameInstance.id }}</b>
        <br/>
        {% endfor %}
        {% endif %}

        {% if invited %}
        <h4>Invitation pending</h4>
        {% for game in invited %}
        <b>{{ game.GameInstance.Game.name }} #{{ game.GameInstance.id }}</b>
        <br/>
        {% endfor %}
        {% endif %}

        {% if completed %}
        <h4>Review completed games</h4>
        {% for game in completed %}
        <b><a href="{{ url_for('playturn', game_id=game.GameInstance.id) }}" onclick="waiting()">
            {{ game.GameInstance.Game.name }} #{{ game.GameInstance.id }}</a></b>
            <br>
        {% endfor %}
        {% endif %}
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 role="button"><a  href="newgame"> New Game</a></h2>

        <h2 role="button"><a href="statistics">Statistics </a></h2>
        <h2 role="button"><a href="rules">Game Rules </a></h2>
    </div>
{% endblock %}

{% block script %}
    <script>
    function waiting() {
        document.getElementById("text").innerHTML = "Your Game is being Retrieved.";
    }
    </script>
{% endblock%}